:root {
	--color-foreground: #fff;
	--color-card: rgba(0, 0, 0, 0.3);
	--effect-card: blur(0.5em);

	--font-default: 'Roboto', sans-serif;
	--font-mono: 'Roboto Mono', monospace;
}

html,
body {
	min-height: 100%;
	margin: 0;
	font-size: 16px;
	@media screen and (min-width: 2000px) {
		font-size: 20px;
	}
}

body {
	background: url(/images/the-little-prince.jpg);
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	font-family: var(--font-default);
	line-height: 2;
	color: var(--color-foreground);
}

h3,
h4 {
	margin: 0 0 0.5em;
}

p {
	margin: 0;
}

button {
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	&:disabled {
		cursor: default;
	}
}